In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('housing.csv')
df.sample(5)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
328,3990000,4500,3,2,2,no,no,yes,no,yes,0,no,semi-furnished
127,5880000,6500,3,2,3,yes,no,no,no,yes,0,no,unfurnished
202,4900000,4120,2,1,1,yes,no,yes,no,no,1,no,semi-furnished
287,4200000,5500,3,1,2,yes,no,no,no,yes,0,no,unfurnished
9,9800000,5750,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished

In [2]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold